.bookmarks_panel .bookmarks {
    padding: 25px 0;
    background-color: var(--input_color);
    border-bottom: 2px solid var(--background_color);
}

.bookmarks_panel .bookmarks p {
    display: inline;
    background-color: var(--input_color);
    padding: 25px 35px;
    text-decoration: none;
    border-bottom: 3px solid var(--button_color);
    cursor: pointer;
}