.student-experience h2 {
    padding: 15px 25px;
    font-size: 1.2rem;
    background-color: var(--input_color);
}

.student-experience p {
    padding: 15px 25px;
    font-size: 1rem;
}

.student-experience .links-container {
    padding: 15px 25px;
}

.student-experience .links-container .portfolio-links {
    display: flex;
    padding: 7px 0;

}

.student-experience .links-container .portfolio-links img {
    height: auto;
    width: 30px;
}

.student-experience .links-container .portfolio-links p {
    padding: 0 0 0 10px;
    line-height: 30px;
    color: var(--github_color);
}