.student-data {
    display: flex;
    justify-content: space-between;
}

.student-data p {
    margin-bottom: 0;
    text-align: left;
}

@media (max-width: 1024px) {
    .student-data {
        flex-direction: column;
    }
}