.education-experience {
    width: 83vw;
    border-left: 3px solid var(--background_color);
}

.education-experience h2 {
    padding: 15px;
    font-size: 1.2rem;
    background-color: var(--input_color);
}

.education-experience .employment-expectations {
    display: flex;
}

.education-experience .employment-expectations div {
    padding: 20px 15px;
    width: 16%;
}

.education-experience .employment-expectations div:nth-child(1) {
    padding-left: 20px;
}

.education-experience .employment-expectations div:nth-child(4),
.education-experience .employment-expectations div:nth-child(5) {
    width: 18%;
}

.education-experience .employment-expectations div:nth-child(6) {
    width: 17%;
}

.education-experience .employment-expectations h3 {
    height: 50px;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 20px;
}

.education-experience .employment-expectations p {
    font-weight: bold;
    font-size: 0.9rem;
}