.admin-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-option {
    cursor: pointer;
    padding: 8px;
    display: inline-block;
}

.form-option:hover {
    color: #34db3c;
}
.form-option.selected {
    color: #34db3c;
}