.one-student {
  background: var(--input_color);
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.one-student .student-name {
  flex-grow: 1;
  text-align: left;
  padding-left: 15px;
}

.arrow {
  fill: var(--input_font_color);
  margin: 0 15px 0 25px;
  font-size: 2rem;
  cursor: pointer;
}

.one-student img {
  border-radius: 50%;
  height: 44px;
}
