.one-student-profile {
  padding: 5px;
  display: flex;
  align-items: center;
}

.one-student-profile .left-side,
.one-student-profile .right-side{
  display: flex;
}

.one-student-profile li {
  font-size: 0.8rem;
  padding: 5px 10px;
  border-right: 2px solid var(--input_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

.one-student-profile .left-side li:first-child {
  width: 33%;
}

.one-student-profile .right-side :last-child {
  border-right: none;
}

.one-student-profile .profile-property p {
  font-size: 0.9rem;
}


.one-student-profile .profile-property-value {
  font-weight: bold;
}

.one-student-profile .profile-property-value p {
  font-size: 1rem;
}

@media (max-width: 1023px) {
  .one-student-profile {
    display: flex;
    flex-direction: column;
  }

  .one-student-profile .left-side,
  .one-student-profile .right-side {
    padding: 10px;
  }

  .one-student-profile .left-side li {
    height: 100px;
  }

  .one-student-profile .right-side li {
    height: 120px;
  }
}

@media (max-width: 425px) {
  .one-student-profile {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
  }

  .one-student-profile .left-side,
  .one-student-profile .right-side {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .one-student-profile .left-side li:first-child {
    width: 100%;
  }

  .one-student-profile .left-side li,
  .one-student-profile .right-side li{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-right: none;
    height: 45px;
  }
}

@media (max-width: 375px) {
  .one-student-profile .left-side,
  .one-student-profile .right-side {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .one-student-profile .left-side li:nth-child(2) .profile-property-value p {
    width: 120%;
  }
}