.students-to-interview ul li {
    margin-bottom: 10px;
}

.students-to-interview p.text-info {
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: green;
    padding: 20px;
}