.filter-panel {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: var(--input_color);
    border-bottom: 3px solid var(--background_color);
}

.filter-panel .search {
    padding: 5px 15px;
    background-color: var(--background_color);
    width: 400px;

}

.filter-panel .search img {
    width: auto;
    height: 14px;
}

.filter-panel .search input {
    padding: 5px 10px;
    background-color: var(--background_color);
    border: none;
    width: 90%;
    font-size: 1rem;
}

.filter-panel button {
    padding: 5px 15px;
    display: flex;
    background-color: var(--background_color);
}

.filter-panel button img {
    margin-top: 10px;
    width: auto;
    height: 10px;
}

.filter-panel button p {
    margin-left: 10px;
    line-height: 30px;
}

@media (max-width: 425px) {
    .filter-panel {
        padding: 15px;
    }
}

@media (max-width: 375px) {
    .filter-panel .search input {
        width: 100px;
    }

    .filter-panel button {
        margin: 0 0 0 10px;
    }
}


