.change-password {
    margin: 0 auto;
    padding-top: 60px;
    width: 300px;
}

.change-password h2 {
    padding-bottom: 30px;
    text-align: center;
}

.change-password form {
    display: flex;
    flex-direction: column;
}

.change-password form label{
    font-size: 1.2rem;
}

.change-password form input {
    display: block;
    margin: 7px 0 15px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
    color: #000;
}

.change-password form button {
    margin: 15px auto;
    width: 150px;
}

.panel_main .change-password p.change-password-text {
    padding-top: 15px;
    font-size: 1.3rem;
    font-weight: bold;
    color: green;
    text-align: center;
}